.div{
    text-align: center;
    border: 15px solid white; 
    color: white;

}
#image{
    padding-right: 0px;
    width: 50%;
    margin-top: 8%;
    border: 10px solid white;
}
body{
    background-color: black;
}
h1{
    background-color: gray;
    
}
p{
    background-color: darkgoldenrod;
    margin-left: 25%;
    margin-right: 25%;
}